$primary-color: #00916e;
$secondary-color: #ffcf00;
$tertiary-color: #fa003f;
$primary-font-color: #353535;
$padding-container: 16px;
$primary-font: Arial, Helvetica, sans-serif;

%style-border {
  border: 2px solid $primary-color;
  background-color: $secondary-color;
  border-radius: 5px;
  padding: $padding-container;
}
%style-text {
  font-family: $primary-font;
  color: $primary-font-color;
}
%style-container {
  @extend %style-border;
  @extend %style-text;
}

@mixin CreateContainer($prop-border, $prop-font) {
  @extend %style-container;
  border-width: $prop-border;
  font-size: $prop-font;
}

body {
  background-color: $primary-font-color;
}

body {
  h1 {
    @include CreateContainer(10px, large);
  }
  p {
    @extend %style-container;
  }
}
